## Intervention Counts

In [2]:
import pandas as pd
import numpy as np

In [35]:
# General config & paths

from pathlib import Path

# Project root = folder where this notebook lives
PROJECT_ROOT = Path().resolve()

# Data folders (relative paths)
DATA_DIR = PROJECT_ROOT / "data"
PROCESSED_DIR = DATA_DIR / 'processed'
TASKS_DIR = DATA_DIR / "task_completion"

In [36]:
pilot = pd.read_csv(TASKS_DIR / "Pilot - task completion.csv")
wave_2 = pd.read_csv(TASKS_DIR / "Wave 2 - task completion.csv")
wave_3 = pd.read_csv(TASKS_DIR / "Wave 3 - full responses.csv")
wave_4 = pd.read_csv(TASKS_DIR / "Wave 4 - full responses.csv")
wave_5 = pd.read_csv(TASKS_DIR / "Wave 5 - full responses.csv")
wave_6 = pd.read_csv(TASKS_DIR / "Wave 6 - full responses.csv")

pilot_arms = pd.read_csv(TASKS_DIR / "Pilot - arms.csv")
pilot = pilot.merge(pilot_arms, how = "left", left_on = "User ID", right_on = "ID")

In [37]:
pilot = pilot.drop(columns=["ID"])
wave_2 = wave_2.rename(columns={"condition_x": "condition"})
wave_3 = wave_3.rename(columns={"condition_x": "condition"})
wave_3 = wave_3.drop(columns=["ID",	"Norstat ID", "condition_y", "Mail_child_exp"])
wave_6 = wave_6.drop(columns=["ID"])

In [38]:
pilot = pilot.replace(99, 0)
wave_2 = wave_2.replace(99, 0)
wave_3 = wave_3.replace(99, 0)
wave_4 = wave_4.replace(99, 0)
wave_5 = wave_5.replace(99, 0)
wave_6 = wave_6.replace(99, 0)

In [39]:
wave_6

,Unnamed: 0,condition,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2,Norstat ID
0,0,4.0,120931,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,5YwxodNGOXv9Oylz
1,1,5.0,120937,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,RWLV2Z1EmG5o5vN3
2,2,5.0,120962,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,p3MN23yEj4EAl1ag
3,3,1.0,120964,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,5Ywxodb3xdX9Oylz
4,4,1.0,120966,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,Dg7LANONnZgozm8y
5,5,1.0,120967,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,qRZK2gEQM1WAbdka
6,6,1.0,120970,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,qRZK2gEDqlNAbdka
7,8,5.0,121186,1.0,0,0,1,1,1,1.0,0,1,1,1,1,1.0,LDen9KLWer3AElVw
8,9,4.0,121190,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,NaBzAB8qx532YyVM
9,10,5.0,121192,1.0,1,0,0,0,1,1.0,1,1,1,1,1,1.0,zExm2J5mJYro6PyK
10,11,5.0,121193,1.0,1,0,0,1,1,1.0,1,1,1,1,1,1.0,qRZK2gE4pxWAbdka
11,12,1.0,121199,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,p3MN234R1DP9l1ag
12,13,5.0,121203,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,QGYe2jPgKkdAgrXp
13,14,4.0,121204,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,xgOVA1gzDMg2elJ1
14,15,1.0,121209,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,Elb8AvXdjJr2pLX5
15,16,1.0,121210,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,5nJ4ApEjL44oG3kx
16,17,2.0,121211,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,GLPp2OpXGXZ903ym
17,18,2.0,121212,1.0,0,0,1,1,1,1.0,1,1,0,1,1,1.0,GQq8AV3lzqqolWZ3
18,19,1.0,121213,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,beaJAWrXNLn9vw16
19,20,2.0,121214,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0,3YVN2MBNlkV9bRn5
20,21,1.0,121216,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,5Ywxodbjjav9Oylz
21,22,2.0,121217,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0,Vj6N98wd1My28drl
22,23,1.0,121218,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,Vj6N98wP05N28drl
23,24,2.0,121231,1.0,1,1,1,1,1,1.0,0,0,0,0,0,NaN,Yxq827dlgGa9MWZ0
24,25,5.0,121245,1.0,1,1,1,1,1,1.0,1,1,1,1,0,1.0,Yxq827djM5b9MWZ0
25,26,5.0,121257,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,nKY7owXDr6a2G3v4
26,27,4.0,121262,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,XNdYoQwYvke9Wq1r
27,28,2.0,121272,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,jYWQA6pXWJE2PXKz
28,29,5.0,121290,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,j1Le2D6XXqlAxEOy
29,30,5.0,121291,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,Vw142rvB6mb2aNPX
30,31,5.0,121294,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,lzD49L4RWVk93Vr8
31,32,5.0,121295,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,5YwxodbGEEe9Oylz
32,33,5.0,121296,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,yNedoaQL3axoMEjw
33,34,5.0,121356,1.0,1,1,1,1,1,1.0,1,1,1,0,1,1.0,5nJ4ApErRG0oG3kx
34,35,5.0,121447,1.0,1,1,1,1,0,1.0,1,0,0,0,1,1.0,3YVN2MBw3aE9bRn5
35,36,5.0,121448,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,Yxq827vYZBBoMWZ0
36,37,5.0,121453,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,EZ8qox1YddQ26JVW
37,38,4.0,121454,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,GlMq9eXGMBV2DpXY
38,39,4.0,121455,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,NaBzABQ5O0r9YyVM
39,40,4.0,121456,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,W7mLA5Omw5O2N6n1
40,41,4.0,121457,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,xgOVA1geOWO2elJ1
41,42,4.0,121461,1.0,1,0,1,0,1,1.0,1,1,1,0,1,1.0,wLxz2lXdmMz2kVj8
42,43,5.0,121462,1.0,1,1,1,1,1,1.0,1,0,0,0,1,1.0,YXrqo4Bx0xx9MZdm

In [40]:
full_responses = pd.concat([pilot, wave_2, wave_3, wave_4, wave_5, wave_6], ignore_index=True)

full_responses.head()

,Unnamed: 0,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2,Norstat ID_x,condition,Norstat ID
0,0,104582,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,5nJ4ApbP4Ne2G3kx,2.0,NaN
1,1,104584,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,Vw142r07XqPAaNPX,3.0,NaN
2,2,104605,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,yNedoa0VX45AMEjw,5.0,NaN
3,3,104608,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,BdVOAGVQVXE968JL,5.0,NaN
4,4,104702,1.0,1,1,1,1,1,1.0,1,1,0,1,0,1.0,NaBzAB8D4Qw2YyVM,4.0,NaN

In [41]:
full_responses["User ID"].nunique()

779

In [42]:
full_responses.head()

,Unnamed: 0,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2,Norstat ID_x,condition,Norstat ID
0,0,104582,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,5nJ4ApbP4Ne2G3kx,2.0,NaN
1,1,104584,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,Vw142r07XqPAaNPX,3.0,NaN
2,2,104605,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,yNedoa0VX45AMEjw,5.0,NaN
3,3,104608,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,BdVOAGVQVXE968JL,5.0,NaN
4,4,104702,1.0,1,1,1,1,1,1.0,1,1,0,1,0,1.0,NaBzAB8D4Qw2YyVM,4.0,NaN

In [43]:
full_responses.to_csv(TASKS_DIR /"full_responses_final.csv")

In [44]:
pilot_arms = pd.read_csv(TASKS_DIR /"Pilot - arms.csv")
wave2_arms = pd.read_csv(TASKS_DIR /"Wave 2 - arms.csv")

pilot_arms.rename(columns={'ID': 'User ID'}, inplace=True)

In [45]:
wave_4.head()

,Unnamed: 0,condition,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2,Norstat ID
0,0,5,111467,1,0,0,0,0,1,1,0,0,0,0,0,0,W7mLA5Oj60d2N6n1
1,1,5,111468,1,1,1,1,1,1,1,1,1,1,1,1,1,qRZK2gE5zdYAbdka
2,2,2,111470,1,0,0,0,0,0,1,0,0,0,0,0,1,3YVN2MBw3aE9bRn5
3,3,1,111471,1,0,1,1,1,1,1,1,1,1,1,1,1,5nJ4Apjq6w42G3kx
4,4,1,111472,1,0,1,1,1,1,1,1,0,1,1,1,1,ybDaoyd0jKZAQdvY

In [46]:
pilot = pilot.merge(pilot_arms, on = "User ID")

In [47]:
weekends = ["Baseline", "Weekend 1", "Weekend 2"]
days = ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10"]

In [48]:
pilot = pilot.replace(99, 0)
wave_2 = wave_2.replace(99, 0)
wave_3 = wave_3.replace(99, 0)
wave_4 = wave_4.replace(99, 0)
wave_5 = wave_5.replace(99, 0)
wave_6 = wave_6.replace(99, 0)

pilot.rename(columns={'ID': 'User ID'}, inplace=True)
wave_2.rename(columns={'condition_x': 'condition'}, inplace=True)
wave_3.rename(columns={'condition_x': 'condition'}, inplace=True)

In [49]:
wave_5.columns

Index(['Unnamed: 0', 'condition', 'User ID', 'Baseline', 'Day 1', 'Day 2',
       'Day 3', 'Day 4', 'Day 5', 'Weekend 1', 'Day 6', 'Day 7', 'Day 8',
       'Day 9', 'Day 10', 'Weekend 2', 'Norstat ID'],
      dtype='object')

In [50]:
# Step 1: Put all your DataFrames in a list
dfs = [pilot, wave_2, wave_3, wave_4, wave_5, wave_6]

# Step 2: Find common columns across all DataFrames
common_cols = set(dfs[0].columns)
for df in dfs[1:]:
    common_cols &= set(df.columns)

# Step 3: Keep only *uniquely named* common columns for each DataFrame
def get_clean_df(df, common_cols):
    df = df.loc[:, ~df.columns.duplicated()]  # drop duplicate columns
    return df[list(common_cols)]

dfs_cleaned = [get_clean_df(df, common_cols) for df in dfs]

# Step 4: Concatenate the cleaned DataFrames
all_waves = pd.concat(dfs_cleaned, ignore_index=True)

In [51]:
# Full_responses: Sum(days) >= 6 and Sum(weekends) == 3
full_responses_count = wave_5[
    #(wave_5[days].sum(axis=1) >= 6) &
    (wave_5[weekends].sum(axis=1) == 3)
].shape[0]

In [52]:
# Half-complete_days: Sum(days) >= 3 and Sum(weekends) == 3
half_complete_days_count = wave_5[
    (wave_5[days].sum(axis=1) >= 4) &
    (wave_5[weekends].sum(axis=1) == 3)
].shape[0]

In [53]:
# Half_complete_weekends: Sum(days) >= 2 and Sum(weekends) >= 2
half_complete_weekends_count = wave_5[
    #(wave_5[days].sum(axis=1) >= 4) &
    (wave_5[weekends].sum(axis=1) >= 2)
].shape[0]

In [54]:
# Half-complete_days and weekends: Sum(days) >= 3 and Sum(weekends) == 3
half_complete_days_weekends_count = wave_5[
    (wave_5[days].sum(axis=1) >= 4) &
    (wave_5[weekends].sum(axis=1) >= 2)
].shape[0]

In [55]:

# Print the counts
print("Full responses:", full_responses_count)
print("Half complete days:", half_complete_days_count)
print("Half complete weekends:", half_complete_weekends_count)
print("Half complete days and weekends:", half_complete_days_weekends_count)
print("Avicenna responses that do no fulfill requirements:", (len(wave_5) - half_complete_days_weekends_count))

Full responses: 255
Half complete days: 230
Half complete weekends: 260
Half complete days and weekends: 231
Avicenna responses that do no fulfill requirements: 52

# All waves

In [56]:
len(all_waves)

779

In [57]:
# Full_responses: Sum(days) >= 6 and Sum(weekends) == 3
full_responses_count2 = all_waves[
    (all_waves[days].sum(axis=1) >= 6) &
    (all_waves[weekends].sum(axis=1) == 3)
].shape[0]

In [58]:
# Half-complete_days: Sum(days) >= 3 and Sum(weekends) == 3
half_complete_days_count2 = all_waves[
    (all_waves[days].sum(axis=1) >= 4) &
    (all_waves[weekends].sum(axis=1) == 3)
].shape[0]

In [59]:
half_complete_days_count2

589

In [60]:
# Half_complete_weekends: Sum(days) >= 2 and Sum(weekends) >= 2
half_complete_weekends_count2 = all_waves[
    (all_waves[days].sum(axis=1) >= 6) &
    (all_waves[weekends].sum(axis=1) >= 2)
].shape[0]

In [61]:
# Half-complete_days and weekends: Sum(days) >= 3 and Sum(weekends) == 3
half_complete_days_weekends_count2 = all_waves[
    (all_waves[days].sum(axis=1) >= 4) &
    (all_waves[weekends].sum(axis=1) >= 2)
].shape[0]

In [62]:
# Print the counts
print("Full responses:", full_responses_count2)
print("Half complete weekdays:", half_complete_days_count2)
print("Half complete weekends:", half_complete_weekends_count2)
print("Half complete weekdays and weekends:", half_complete_days_weekends_count2)
print("Avicenna responses that do no fulfill requirements:", (len(all_waves) - half_complete_days_weekends_count2))

Full responses: 545
Half complete weekdays: 589
Half complete weekends: 549
Half complete weekdays and weekends: 603
Avicenna responses that do no fulfill requirements: 176

## Condition count

In [64]:
# Filter the DataFrame to keep only rows where:
# Sum(days) >= 2 and Sum(weekends) >= 2
filtered_all_waves = all_waves[
    (all_waves[days].sum(axis=1) >= 6) &
    (all_waves[weekends].sum(axis=1) == 3)
]

print(len(filtered_all_waves))

545

In [65]:
# Filter rows that do NOT meet the criteria (using the inverse condition)
not_filtered_all_waves = all_waves[
    ~((all_waves[days].sum(axis=1) >= 2) &
      (all_waves[weekends].sum(axis=1) >= 2))
]

# Filtering

In [68]:
half_complete_days = all_waves[
    (all_waves[days].sum(axis=1) > 3) &  # Sum of days >= 4
    (all_waves[weekends].sum(axis=1) == 3)  # Sum of weekends == 3
]
half_complete_days_count2 = half_complete_days.shape[0]

In [69]:
half_complete_days2 = all_waves[
    (all_waves[days].sum(axis=1) > 2)
]
half_complete_days_count3 = half_complete_days2.shape[0]

In [70]:
half_complete_days = half_complete_days["User ID"]
half_complete_days2 = half_complete_days2["User ID"]

In [71]:
half_complete_days = half_complete_days.dropna()
half_complete_days2 = half_complete_days2.dropna()

In [72]:
half_complete_days.to_csv(PROCESSED_DIR / "half_complete_IDs.csv")
half_complete_days2.to_csv(PROCESSED_DIR /"half_complete_IDs2.csv")

In [73]:
len(half_complete_days)

589

In [74]:
full_responses = all_waves[
    (all_waves[days].sum(axis=1) >= 6) &  # Sum of days >= 6
    (all_waves[weekends].sum(axis=1) == 3)  # Sum of weekends == 3
]
full_responses_count2 = full_responses.shape[0]

In [75]:
full_responses_id = full_responses["User ID"]

In [76]:
full_responses_id = full_responses_id.dropna()

In [77]:
full_responses_id.to_csv(PROCESSED_DIR /"full_responses_ID.csv")

In [78]:
len(full_responses_id)

545