#### Intervention keys

In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
# General config & paths

from pathlib import Path

# Project root = folder where this notebook lives
PROJECT_ROOT = Path().resolve()

# Data folders (relative paths)
DATA_DIR = PROJECT_ROOT / "data"
QUALTRICS_DIR = DATA_DIR / "qualtrics"
WAVE6_DIR = QUALTRICS_DIR / "wave6"
KEYS_DIR = DATA_DIR / "keys"
MESSAGES_DIR = DATA_DIR / "messages"
AVICENNA_DIR = DATA_DIR / "avicenna"

In [4]:
parents_w6 = pd.read_csv(WAVE6_DIR / "Wave 6 - parents.csv")
avicenna_w6 = pd.read_csv(AVICENNA_DIR / 'wave6' / "Wave 6 - avicenna 3.csv")
#parents_w6["StartDate"] = pd.to_datetime(parents_w6["StartDate"], errors='coerce')
avicenna_w6["Participant Joined Date"] = pd.to_datetime(avicenna_w6["Participant Joined Date"], errors='coerce')

filter_date = pd.to_datetime("2025-05-01 00:00:00").tz_localize("UTC")

avicenna_w62 = avicenna_w6[avicenna_w6["Participant Joined Date"] > filter_date]

In [49]:
responses_w6 = pd.read_csv(WAVE6_DIR / "Wave 6 - responses.csv")

In [5]:
pd.reset_option("all")

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3365680546.py:1: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option("all")
C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3365680546.py:1: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option("all")

In [6]:
print("Earliest date:", avicenna_w6["Participant Joined Date"].min())
print("Latest date:  ", avicenna_w6["Participant Joined Date"].max())
print(len(avicenna_w62))

Earliest date: 2024-11-05 16:33:59.841000+00:00
Latest date:   2025-05-22 18:33:07.039000+00:00
45

In [7]:
parents_w6 = parents_w6[(parents_w6['Progress'] == "100") & ((parents_w6['Informed_consent_exp'] == "I give CONSENT  for my child to participate in the Between Us research program.") | (parents_w6['Q3'] == "I give CONSENT  for my child to participate in the Between Us research program."))]
print(parents_w6["Random ID"].nunique())

2251

In [8]:
parents_w6["Game_preview_exp"] = parents_w6["Game_preview_exp"].fillna(parents_w6['Game_preview_ctr'])
parents_w6['Mail_child_exp'] = parents_w6['Mail_child_exp'].fillna(parents_w6['Mail_child_ctr'])
parents_w6 = parents_w6.reset_index(drop=True)

In [9]:
avicenna_w6 = avicenna_w6[["Last Name", "Email Address"]]

In [10]:
avicenna_w62.head()

,ID,Participant Joined Date,Start Time,End Time,Label,Status,Last Recorded Data Time,In Operation,Participant Type,First Name,Last Name,Email Address,Devices,Session Stats
0,121462,2025-05-22 18:33:07.039000+00:00,2025-05-22 18:33:07.015000+00:00,2970-06-01 00:00:00+00:00,NaN,1,Never,0,Main,BU,47469,michaelcarmen262@gmail.com,"[{""id"":""08c383061a24c211"",""manufacturer"":""sams...","{""unknown"":0,""completed"":0,""canceled"":0,""expir..."
1,121461,2025-05-22 18:32:39.885000+00:00,2025-05-22 18:32:39.854000+00:00,2970-06-01 00:00:00+00:00,NaN,1,Never,0,Main,BU,55595,johnallan5911@gmail.com,"[{""id"":""c062538f8629ed97"",""manufacturer"":""INFI...","{""unknown"":0,""completed"":0,""canceled"":0,""expir..."
2,121457,2025-05-22 17:35:44.585000+00:00,2025-05-22 17:35:44.560000+00:00,2970-06-01 00:00:00+00:00,NaN,1,Never,0,Main,BU,10320,calebdavid025@gmail.com,"[{""id"":""f3ff89413cb49514"",""manufacturer"":""Goog...","{""unknown"":0,""completed"":0,""canceled"":0,""expir..."
3,121456,2025-05-22 17:30:58.794000+00:00,2025-05-22 17:30:58.772000+00:00,2970-06-01 00:00:00+00:00,NaN,1,Never,0,Main,BU,18650,wcheng679@gmail.com,"[{""id"":""f3ff89413cb49514"",""manufacturer"":""Goog...","{""unknown"":0,""completed"":0,""canceled"":0,""expir..."
4,121455,2025-05-22 17:26:26.980000+00:00,2025-05-22 17:26:26.960000+00:00,2970-06-01 00:00:00+00:00,NaN,1,Never,0,Main,BU,90865,azimshakur2@gmail.com,"[{""id"":""f3ff89413cb49514"",""manufacturer"":""Goog...","{""unknown"":0,""completed"":0,""canceled"":0,""expir..."

In [11]:
avicenna_w62 = avicenna_w62[['ID', 'First Name', 'Last Name', 'Email Address']]

In [14]:
avicenna_w62

        ID First Name Last Name                  Email Address
0   121462         BU     47469     michaelcarmen262@gmail.com
1   121461         BU     55595        johnallan5911@gmail.com
2   121457         BU     10320        calebdavid025@gmail.com
3   121456         BU     18650            wcheng679@gmail.com
4   121455         BU     90865          azimshakur2@gmail.com
5   121454         BU     14385            kibet9277@gmail.com
6   121453         BU     11624       wafulasammamai@gmail.com
7   121448         BU     61255          tharparturo@gmail.com
8   121447         BU     65741          ryannfasola@gmail.com
9   121356         BU     99898        masontwist234@gmail.com
10  121314         BU     44187  chizaramugochukwu21@gmail.com
11  121296         BU     45688         lepfxine42@hotmail.com
12  121295         BU     52774   ayerpetracrwilberm@gmail.com
13  121294         BU     52231     celineabimbola98@gmail.com
14  121291       Paul   olabisi          paulolabisi@yahoo.com
15  121290         BU     96996      russnadscotglov@gmail.com
16  121272         BU     62790            scedikola@gmail.com
17  121262         BU     53337      andigurakuqijwv@gmail.com
18  121257         BU     23965      beatitayqyyiavs@gmail.com
19  121245         BU     43070       tamunomiebakan@gmail.com
20  121231         BU     52912        enockkijiti@outlook.com
21  121218         BU     44496            bmumbua91@gmail.com
22  121217         BU     84459          sndrsrhonda@gmail.com
23  121216         BU     99276         katengemuema@gmail.com
24  121214         BU     52565            uyrres559@gmail.com
25  121213         BU     91663       guzmanpaulde67@gmail.com
26  121212         BU     61763            piogama07@gmail.com
27  121211         BU     94448           tawaipeter@gmail.com
28  121210         BU     58849           tokoropiea@gmail.com
29  121209         BU     24583           rededasa17@gmail.com
30  121204         BU     13018        smithsandralg@gmail.com
31  121203         BU     92623         henryben9007@gmail.com
32  121199     nuncie    nuncie          nunciatta02@gmail.com
33  121193      Elsie     Jones        elsiejones439@gmail.com
34  121192         BU     62663   sudiksha.pudichery@gmail.com
35  121190         BU     66784     amy.mdonaldson@hotmail.com
36  121186         bu     28354     matthewsymonds77@gmail.com
37  121153      Benno     Noöle              test@testerrr.com
38  120970         BU     58729     vivanwackettagac@gmail.com
39  120967         BU     12852            donnatt92@gmail.com
40  120966         BU     49840        eliznobleks54@gmail.com
41  120964         BU     87287          chellrw6957@gmail.com
42  120962         BU     49365          kharlesseal@gmail.com
43  120937         BU     54438           lyissp6836@gmail.com
44  120931         BU     73059         oluwafemiy29@gmail.com

In [15]:
#avicenna_w62.loc[4, "Last Name"] = 52213
avicenna_w62.loc[14, "Last Name"] = 70265
avicenna_w62.loc[32, "Last Name"] = 13781
avicenna_w62.loc[33, "Last Name"] = 24027
avicenna_w62.loc[37, "Last Name"] = 66666

In [17]:
matched_rows = parents_w6[
    parents_w6["Mail_child_exp"].isin(avicenna_w62["Email Address"]) |
    parents_w6["Random ID"].astype(float).isin(avicenna_w62["Last Name"].astype(float))
]

len(matched_rows)

42

In [18]:
# 1. Match by Email: merge parents onto avicenna using Email Address ↔ Mail_child_exp
merged_email = avicenna_w62.merge(
    parents_w6[["id", "Mail_child_exp"]],
    left_on="Email Address",
    right_on="Mail_child_exp",
    how="left"
)

# 2. Match by Name: merge parents onto avicenna using Last Name ↔ Random ID
merged_name = avicenna_w62.merge(
    parents_w6[["id", "Random ID"]],
    left_on="Last Name",
    right_on="Random ID",
    how="left"
)

# 3. Combine both merged results
merged_combined = pd.concat([merged_name, merged_email], ignore_index=True)

# 4. Drop duplicates based on avicenna ID (if it exists) or email
merged_combined = merged_combined.drop_duplicates(subset=["Email Address"])

# 5. Inspect result
print(f"Merged rows: {len(merged_combined)}")
merged_combined.head()

Merged rows: 45

,ID,First Name,Last Name,Email Address,id,Random ID,Mail_child_exp
0,121462,BU,47469,michaelcarmen262@gmail.com,YXrqo4Bx0xx9MZdm,47469,NaN
1,121461,BU,55595,johnallan5911@gmail.com,wLxz2lXdmMz2kVj8,55595,NaN
2,121457,BU,10320,calebdavid025@gmail.com,xgOVA1geOWO2elJ1,10320,NaN
3,121456,BU,18650,wcheng679@gmail.com,W7mLA5Omw5O2N6n1,18650,NaN
4,121455,BU,90865,azimshakur2@gmail.com,NaBzABQ5O0r9YyVM,90865,NaN

In [19]:
avicenna_w6 = merged_combined[["ID", "id", "Random ID", "Mail_child_exp", "Last Name", "Email Address"]]

In [103]:
avicenna_w6

,ID,id,Random ID,Mail_child_exp,Last Name,Email Address
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com
5,121454,GlMq9eXGMBV2DpXY,14385,NaN,14385,kibet9277@gmail.com
6,121453,EZ8qox1YddQ26JVW,11624,NaN,11624,wafulasammamai@gmail.com
7,121448,Yxq827vYZBBoMWZ0,61255,NaN,61255,tharparturo@gmail.com
8,121447,3YVN2MBw3aE9bRn5,65741,NaN,65741,ryannfasola@gmail.com
9,121356,5nJ4ApErRG0oG3kx,99898,NaN,99898,masontwist234@gmail.com
10,121314,5YwxodbVwMX9Oylz,44187,NaN,44187,chizaramugochukwu21@gmail.com
11,121296,yNedoaQL3axoMEjw,45688,NaN,45688,lepfxine42@hotmail.com
12,121295,5YwxodbGEEe9Oylz,52774,NaN,52774,ayerpetracrwilberm@gmail.com
13,121294,NaN,NaN,NaN,52231,celineabimbola98@gmail.com
14,121291,NaN,NaN,NaN,70265,paulolabisi@yahoo.com
15,121290,j1Le2D6XXqlAxEOy,96996,NaN,96996,russnadscotglov@gmail.com
16,121272,jYWQA6pXWJE2PXKz,62790,NaN,62790,scedikola@gmail.com
17,121262,XNdYoQwYvke9Wq1r,53337,NaN,53337,andigurakuqijwv@gmail.com
18,121257,nKY7owXDr6a2G3v4,23965,NaN,23965,beatitayqyyiavs@gmail.com
19,121245,Yxq827djM5b9MWZ0,43070,NaN,43070,tamunomiebakan@gmail.com
20,121231,Yxq827dlgGa9MWZ0,52912,NaN,52912,enockkijiti@outlook.com
21,121218,Vj6N98wP05N28drl,44496,NaN,44496,bmumbua91@gmail.com
22,121217,Vj6N98wd1My28drl,84459,NaN,84459,sndrsrhonda@gmail.com
23,121216,5Ywxodbjjav9Oylz,99276,NaN,99276,katengemuema@gmail.com
24,121214,3YVN2MBNlkV9bRn5,52565,NaN,52565,uyrres559@gmail.com
25,121213,beaJAWrXNLn9vw16,91663,NaN,91663,guzmanpaulde67@gmail.com
26,121212,GQq8AV3lzqqolWZ3,61763,NaN,61763,piogama07@gmail.com
27,121211,GLPp2OpXGXZ903ym,94448,NaN,94448,tawaipeter@gmail.com
28,121210,5nJ4ApEjL44oG3kx,58849,NaN,58849,tokoropiea@gmail.com
29,121209,Elb8AvXdjJr2pLX5,24583,NaN,24583,rededasa17@gmail.com
30,121204,xgOVA1gzDMg2elJ1,13018,NaN,13018,smithsandralg@gmail.com
31,121203,QGYe2jPgKkdAgrXp,92623,NaN,92623,henryben9007@gmail.com
32,121199,NaN,NaN,NaN,13781,nunciatta02@gmail.com
33,121193,NaN,NaN,NaN,24027,elsiejones439@gmail.com
34,121192,zExm2J5mJYro6PyK,62663,NaN,62663,sudiksha.pudichery@gmail.com
35,121190,NaN,NaN,NaN,66784,amy.mdonaldson@hotmail.com
36,121186,LDen9KLWer3AElVw,28354,NaN,28354,matthewsymonds77@gmail.com
37,121153,NaN,NaN,NaN,66666,test@testerrr.com
38,120970,qRZK2gEDqlNAbdka,58729,NaN,58729,vivanwackettagac@gmail.com
39,120967,qRZK2gEQM1WAbdka,12852,NaN,12852,donnatt92@gmail.com
40,120966,Dg7LANONnZgozm8y,49840,NaN,49840,eliznobleks54@gmail.com
41,120964,5Ywxodb3xdX9Oylz,87287,NaN,87287,chellrw6957@gmail.com
42,120962,p3MN23yEj4EAl1ag,49365,NaN,49365,kharlesseal@gmail.com
43,120937,RWLV2Z1EmG5o5vN3,54438,NaN,54438,lyissp6836@gmail.com
44,120931,5YwxodNGOXv9Oylz,73059,NaN,73059,oluwafemiy29@gmail.com

In [20]:
avicenna_w6 = avicenna_w6.rename(columns = {"id": "Norstat ID", "ID": "Avicenna ID"})

In [105]:
#avicenna_w6.to_csv(KEYS_DIR / 'wave6' / "keys_w6_new.csv")

In [21]:
late_comers = avicenna_w6[:9]

In [22]:
late_comers["condition"] = np.random.choice([4, 5], size=len(late_comers), replace=True)

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\183058483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  late_comers["condition"] = np.random.choice([4, 5], size=len(late_comers), replace=True)

In [23]:
late_comers

,Avicenna ID,Norstat ID,Random ID,Mail_child_exp,Last Name,Email Address,condition
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com,5
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com,5
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com,5
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com,5
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com,5
5,121454,GlMq9eXGMBV2DpXY,14385,NaN,14385,kibet9277@gmail.com,4
6,121453,EZ8qox1YddQ26JVW,11624,NaN,11624,wafulasammamai@gmail.com,5
7,121448,Yxq827vYZBBoMWZ0,61255,NaN,61255,tharparturo@gmail.com,4
8,121447,3YVN2MBw3aE9bRn5,65741,NaN,65741,ryannfasola@gmail.com,4

In [734]:
#late_comers_short = late_comers[["Avicenna ID", "condition"]]

In [736]:
#late_comers_short.to_csv("Wave 6 - ID late comers.csv")

In [24]:
avicenna_w6

,Avicenna ID,Norstat ID,Random ID,Mail_child_exp,Last Name,Email Address
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com
5,121454,GlMq9eXGMBV2DpXY,14385,NaN,14385,kibet9277@gmail.com
6,121453,EZ8qox1YddQ26JVW,11624,NaN,11624,wafulasammamai@gmail.com
7,121448,Yxq827vYZBBoMWZ0,61255,NaN,61255,tharparturo@gmail.com
8,121447,3YVN2MBw3aE9bRn5,65741,NaN,65741,ryannfasola@gmail.com
9,121356,5nJ4ApErRG0oG3kx,99898,NaN,99898,masontwist234@gmail.com
10,121314,5YwxodbVwMX9Oylz,44187,NaN,44187,chizaramugochukwu21@gmail.com
11,121296,yNedoaQL3axoMEjw,45688,NaN,45688,lepfxine42@hotmail.com
12,121295,5YwxodbGEEe9Oylz,52774,NaN,52774,ayerpetracrwilberm@gmail.com
13,121294,NaN,NaN,NaN,52231,celineabimbola98@gmail.com
14,121291,NaN,NaN,NaN,70265,paulolabisi@yahoo.com
15,121290,j1Le2D6XXqlAxEOy,96996,NaN,96996,russnadscotglov@gmail.com
16,121272,jYWQA6pXWJE2PXKz,62790,NaN,62790,scedikola@gmail.com
17,121262,XNdYoQwYvke9Wq1r,53337,NaN,53337,andigurakuqijwv@gmail.com
18,121257,nKY7owXDr6a2G3v4,23965,NaN,23965,beatitayqyyiavs@gmail.com
19,121245,Yxq827djM5b9MWZ0,43070,NaN,43070,tamunomiebakan@gmail.com
20,121231,Yxq827dlgGa9MWZ0,52912,NaN,52912,enockkijiti@outlook.com
21,121218,Vj6N98wP05N28drl,44496,NaN,44496,bmumbua91@gmail.com
22,121217,Vj6N98wd1My28drl,84459,NaN,84459,sndrsrhonda@gmail.com
23,121216,5Ywxodbjjav9Oylz,99276,NaN,99276,katengemuema@gmail.com
24,121214,3YVN2MBNlkV9bRn5,52565,NaN,52565,uyrres559@gmail.com
25,121213,beaJAWrXNLn9vw16,91663,NaN,91663,guzmanpaulde67@gmail.com
26,121212,GQq8AV3lzqqolWZ3,61763,NaN,61763,piogama07@gmail.com
27,121211,GLPp2OpXGXZ903ym,94448,NaN,94448,tawaipeter@gmail.com
28,121210,5nJ4ApEjL44oG3kx,58849,NaN,58849,tokoropiea@gmail.com
29,121209,Elb8AvXdjJr2pLX5,24583,NaN,24583,rededasa17@gmail.com
30,121204,xgOVA1gzDMg2elJ1,13018,NaN,13018,smithsandralg@gmail.com
31,121203,QGYe2jPgKkdAgrXp,92623,NaN,92623,henryben9007@gmail.com
32,121199,NaN,NaN,NaN,13781,nunciatta02@gmail.com
33,121193,NaN,NaN,NaN,24027,elsiejones439@gmail.com
34,121192,zExm2J5mJYro6PyK,62663,NaN,62663,sudiksha.pudichery@gmail.com
35,121190,NaN,NaN,NaN,66784,amy.mdonaldson@hotmail.com
36,121186,LDen9KLWer3AElVw,28354,NaN,28354,matthewsymonds77@gmail.com
37,121153,NaN,NaN,NaN,66666,test@testerrr.com
38,120970,qRZK2gEDqlNAbdka,58729,NaN,58729,vivanwackettagac@gmail.com
39,120967,qRZK2gEQM1WAbdka,12852,NaN,12852,donnatt92@gmail.com
40,120966,Dg7LANONnZgozm8y,49840,NaN,49840,eliznobleks54@gmail.com
41,120964,5Ywxodb3xdX9Oylz,87287,NaN,87287,chellrw6957@gmail.com
42,120962,p3MN23yEj4EAl1ag,49365,NaN,49365,kharlesseal@gmail.com
43,120937,RWLV2Z1EmG5o5vN3,54438,NaN,54438,lyissp6836@gmail.com
44,120931,5YwxodNGOXv9Oylz,73059,NaN,73059,oluwafemiy29@gmail.com

In [25]:

avicenna_w6.loc[13, "Norstat ID"] = "lzD49L4RWVk93Vr8"
avicenna_w6.loc[14, "Norstat ID"] = "Vw142rvB6mb2aNPX"
avicenna_w6.loc[32, "Norstat ID"] = "p3MN234R1DP9l1ag"
avicenna_w6.loc[33, "Norstat ID"] = "qRZK2gE4pxWAbdka"
avicenna_w6.loc[35, "Norstat ID"] = "NaBzAB8qx532YyVM"

In [33]:
late_comers_id = pd.read_csv(KEYS_DIR / 'keys_w6_late_comers.csv')
regular_comers_id = pd.read_csv(KEYS_DIR / 'keys_w6.csv')

regular_comers_id = regular_comers_id.rename(columns={"ID": "Avicenna ID"})

In [34]:
avicenna_w62 = avicenna_w6.merge(regular_comers_id[["condition", "Avicenna ID"]], how="left", on = "Avicenna ID")
avicenna_w63 = avicenna_w62.merge(late_comers_id, how="left", on = "Avicenna ID")

In [35]:
avicenna_w63["condition_x"] = avicenna_w63["condition_x"].fillna(avicenna_w63["condition_y"])
avicenna_w63["Random ID"] = avicenna_w63["Random ID"].fillna(avicenna_w63["Last Name"])

In [36]:
avicenna_w63.head()

,Avicenna ID,Norstat ID,Random ID,Mail_child_exp,Last Name,Email Address,condition_x,Unnamed: 0,condition_y
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com,5.0,0.0,5.0
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com,4.0,1.0,4.0
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com,4.0,2.0,4.0
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com,4.0,3.0,4.0
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com,4.0,4.0,4.0

In [37]:
avicenna_w63 = avicenna_w63.drop(columns=['Unnamed: 0', 'condition_y', 'Mail_child_exp','Last Name'])

In [38]:
avicenna_w63 = avicenna_w63.rename(columns={"Avicenna ID": "ID", "Random ID": "Movez ID", "condition_x": "condition"})

In [39]:
avicenna_w63

,ID,Norstat ID,Movez ID,Email Address,condition
0,121462,YXrqo4Bx0xx9MZdm,47469,michaelcarmen262@gmail.com,5.0
1,121461,wLxz2lXdmMz2kVj8,55595,johnallan5911@gmail.com,4.0
2,121457,xgOVA1geOWO2elJ1,10320,calebdavid025@gmail.com,4.0
3,121456,W7mLA5Omw5O2N6n1,18650,wcheng679@gmail.com,4.0
4,121455,NaBzABQ5O0r9YyVM,90865,azimshakur2@gmail.com,4.0
5,121454,GlMq9eXGMBV2DpXY,14385,kibet9277@gmail.com,4.0
6,121453,EZ8qox1YddQ26JVW,11624,wafulasammamai@gmail.com,5.0
7,121448,Yxq827vYZBBoMWZ0,61255,tharparturo@gmail.com,5.0
8,121447,3YVN2MBw3aE9bRn5,65741,ryannfasola@gmail.com,5.0
9,121356,5nJ4ApErRG0oG3kx,99898,masontwist234@gmail.com,5.0
10,121314,5YwxodbVwMX9Oylz,44187,chizaramugochukwu21@gmail.com,5.0
11,121296,yNedoaQL3axoMEjw,45688,lepfxine42@hotmail.com,5.0
12,121295,5YwxodbGEEe9Oylz,52774,ayerpetracrwilberm@gmail.com,5.0
13,121294,lzD49L4RWVk93Vr8,52231,celineabimbola98@gmail.com,5.0
14,121291,Vw142rvB6mb2aNPX,70265,paulolabisi@yahoo.com,5.0
15,121290,j1Le2D6XXqlAxEOy,96996,russnadscotglov@gmail.com,5.0
16,121272,jYWQA6pXWJE2PXKz,62790,scedikola@gmail.com,2.0
17,121262,XNdYoQwYvke9Wq1r,53337,andigurakuqijwv@gmail.com,4.0
18,121257,nKY7owXDr6a2G3v4,23965,beatitayqyyiavs@gmail.com,5.0
19,121245,Yxq827djM5b9MWZ0,43070,tamunomiebakan@gmail.com,5.0
20,121231,Yxq827dlgGa9MWZ0,52912,enockkijiti@outlook.com,2.0
21,121218,Vj6N98wP05N28drl,44496,bmumbua91@gmail.com,1.0
22,121217,Vj6N98wd1My28drl,84459,sndrsrhonda@gmail.com,2.0
23,121216,5Ywxodbjjav9Oylz,99276,katengemuema@gmail.com,1.0
24,121214,3YVN2MBNlkV9bRn5,52565,uyrres559@gmail.com,2.0
25,121213,beaJAWrXNLn9vw16,91663,guzmanpaulde67@gmail.com,1.0
26,121212,GQq8AV3lzqqolWZ3,61763,piogama07@gmail.com,2.0
27,121211,GLPp2OpXGXZ903ym,94448,tawaipeter@gmail.com,2.0
28,121210,5nJ4ApEjL44oG3kx,58849,tokoropiea@gmail.com,1.0
29,121209,Elb8AvXdjJr2pLX5,24583,rededasa17@gmail.com,1.0
30,121204,xgOVA1gzDMg2elJ1,13018,smithsandralg@gmail.com,4.0
31,121203,QGYe2jPgKkdAgrXp,92623,henryben9007@gmail.com,5.0
32,121199,p3MN234R1DP9l1ag,13781,nunciatta02@gmail.com,1.0
33,121193,qRZK2gE4pxWAbdka,24027,elsiejones439@gmail.com,5.0
34,121192,zExm2J5mJYro6PyK,62663,sudiksha.pudichery@gmail.com,5.0
35,121190,NaBzAB8qx532YyVM,66784,amy.mdonaldson@hotmail.com,4.0
36,121186,LDen9KLWer3AElVw,28354,matthewsymonds77@gmail.com,5.0
37,121153,NaN,66666,test@testerrr.com,2.0
38,120970,qRZK2gEDqlNAbdka,58729,vivanwackettagac@gmail.com,1.0
39,120967,qRZK2gEQM1WAbdka,12852,donnatt92@gmail.com,1.0
40,120966,Dg7LANONnZgozm8y,49840,eliznobleks54@gmail.com,1.0
41,120964,5Ywxodb3xdX9Oylz,87287,chellrw6957@gmail.com,1.0
42,120962,p3MN23yEj4EAl1ag,49365,kharlesseal@gmail.com,5.0
43,120937,RWLV2Z1EmG5o5vN3,54438,lyissp6836@gmail.com,5.0
44,120931,5YwxodNGOXv9Oylz,73059,oluwafemiy29@gmail.com,4.0

In [40]:
avicenna_w63["ID"].duplicated().sum()

0

In [136]:
#avicenna_w63.to_csv(KEYS_DIR / "keys_w6.csv")

In [137]:
#avicenna_w63[["ID", "condition"]].to_csv(KEYS_DIR / "keys_w6_short.csv")

In [41]:
keys_w6 = avicenna_w63

In [42]:
keys_w6["condition"].value_counts()

condition
5.0    19
1.0    10
4.0     9
2.0     7
Name: count, dtype: int64

## Reponse rate

In [69]:
import pandas as pd
# Reset all display options to default
pd.reset_option("all")

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3499691444.py:3: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option("all")
C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3499691444.py:3: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option("all")

In [70]:
response_w6 = pd.read_csv(AVICENNA_DIR / 'wave6' / 'study-3843-activity-sessions-2025-06-10-08-53-05.csv')
response_w6 = response_w6[["Activity ID", "User ID", "Scheduled Time", "Status"]]
keys_w6 = pd.read_csv(KEYS_DIR / "keys_w6.csv")

response_w6["Scheduled Time"] = pd.to_datetime(response_w6["Scheduled Time"], errors='coerce')
# Define the date range
start_date = '2025-05-01'
end_date = '2025-07-25'

response_w6 = response_w6[
    (response_w6['Scheduled Time'].isna()) | 
    ((response_w6['Scheduled Time'] >= start_date) & (response_w6['Scheduled Time'] <= end_date))
]

In [71]:
response_w6

       Activity ID  User ID            Scheduled Time     Status
3            22395   101115                       NaT   Canceled
506          22395   120931 2025-05-26 05:30:00+00:00  Completed
507          22395   120937 2025-05-26 05:30:00+00:00    Expired
508          22395   120962 2025-05-26 05:30:00+00:00  Completed
509          22395   121153 2025-05-26 04:30:00+00:00    Unknown
...            ...      ...                       ...        ...
17171        22716   121617 2025-05-26 12:00:00+00:00    Unknown
17172        22722    96792                       NaT  Completed
17173        22722    97152                       NaT  Completed
17174        22722    97152                       NaT  Completed
17175        22722    97152                       NaT  Completed

[2988 rows x 4 columns]

In [72]:
len(keys_w6)

45

In [73]:
response_w6.head()

     Activity ID  User ID            Scheduled Time     Status
3          22395   101115                       NaT   Canceled
506        22395   120931 2025-05-26 05:30:00+00:00  Completed
507        22395   120937 2025-05-26 05:30:00+00:00    Expired
508        22395   120962 2025-05-26 05:30:00+00:00  Completed
509        22395   121153 2025-05-26 04:30:00+00:00    Unknown

In [74]:
response_w6 = response_w6.merge(keys_w6, left_on = "User ID", right_on="ID", how= "left")

In [75]:
response_w6["Status"] = response_w6['Status'].replace({
    'Completed': 1,
    'Unknown': 99,
    'Expired': 0,
    'Canceled': 99,
    'Blocked': 99,
     'NaN': 99})

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\443080399.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  response_w6["Status"] = response_w6['Status'].replace({

In [76]:
# Ensure Status is numeric
response_w6["Status"] = response_w6["Status"].astype(int)

# Sort so that Status==1 comes last in case of tie-break
response_w6 = response_w6.sort_values(by=["User ID", "Activity ID", "Status"])

# Define the function to resolve duplicates
def resolve_duplicates(group):
    status_1_rows = group[group["Status"] == 1]
    if len(status_1_rows) > 0:
        return status_1_rows.iloc[[0]]  # Keep the FIRST row with Status == 1
    else:
        return group.iloc[[-1]]  # Keep last row if no Status == 1 found

# Apply it
deduped = (
    response_w6
    .groupby(["User ID", "Activity ID"], group_keys=False)
    .apply(resolve_duplicates)
    .reset_index(drop=True)
)

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3281634452.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(resolve_duplicates)

In [77]:
# Pivot the dataframe
response_w6_wide = deduped.pivot(index='User ID', columns='Activity ID', values='Status')

response_w6_wide = response_w6_wide.reset_index()
response_w6_wide = response_w6_wide.merge(keys_w6[["ID", "Norstat ID", "condition"]], left_on="User ID", right_on="ID", how ="left")

In [78]:
pd.set_option('display.max_columns', None)

In [79]:
response_w6_wide

,User ID,22395,22404,22405,22406,22407,22408,22409,22410,22411,22412,22414,22415,22419,22596,22597,22606,22607,22608,22609,22610,22611,22612,22613,22614,22716,22722,ID,Norstat ID,condition
0,48610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,99.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,97152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,101115,99.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,121457,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,121457.0,xgOVA1geOWO2elJ1,4.0
792,121461,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,121461.0,wLxz2lXdmMz2kVj8,4.0
793,121462,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,121462.0,YXrqo4Bx0xx9MZdm,5.0
794,121587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,99.0,NaN,NaN,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,NaN,NaN,NaN,NaN
795,121617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,99.0,NaN,NaN,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,NaN,NaN,NaN,NaN

In [80]:
pairs = [
    ([22395, 22716], 'Day 1'),
    ([22606, 22404], 'Day 2'),
    ([22607, 22405], 'Day 3'),
    ([22608, 22406], 'Day 4'),
    ([22609, 22407], 'Day 5'),
    ([22610, 22408], 'Day 6'),
    ([22611, 22409], 'Day 7'),
    ([22612, 22410], 'Day 8'),
    ([22613, 22411], 'Day 9'),
    ([22614, 22412], 'Day 10',),
]

In [81]:
response_w6_wide.head()

,User ID,22395,22404,22405,22406,22407,22408,22409,22410,22411,22412,22414,22415,22419,22596,22597,22606,22607,22608,22609,22610,22611,22612,22613,22614,22716,22722,ID,Norstat ID,condition
0,48610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,99.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,97152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,101115,99.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#for columns, day_name in pairs:
    #pilot_resp_wide[day_name] = ((pilot_resp_wide[columns[0]] == 1) & (pilot_resp_wide[columns[1]] == 1)).astype(int)

for columns, day_name in pairs:
    response_w6_wide[day_name] = (
        ((response_w6_wide['condition'] == 1) & (response_w6_wide[columns[0]] == 1)) |
        ((response_w6_wide['condition'] != 1) & (response_w6_wide[columns[0]] == 1) & (response_w6_wide[columns[1]] == 1))
    ).astype(int)

response_w6_wide = response_w6_wide.rename(columns={22414: "Baseline", 22415: "Weekend 1", 22419: "Weekend 2"})

In [83]:
column_to_front = "condition"
cols = [column_to_front] + [col for col in response_w6_wide.columns if col != column_to_front]
response_w6_wide = response_w6_wide[cols]

In [84]:


w6_ids = list(keys_w6["ID"])

response_w6 = response_w6_wide[response_w6_wide["User ID"].isin(w6_ids)]

response_w6 = response_w6[["condition", "User ID", "Baseline", "Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Weekend 1", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Weekend 2"]]

response_w6

,condition,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2
750,4.0,120931,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
751,5.0,120937,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
752,5.0,120962,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
753,1.0,120964,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
754,1.0,120966,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
755,1.0,120967,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
756,1.0,120970,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
757,2.0,121153,99.0,0,0,0,0,0,99.0,0,0,0,0,0,99.0
758,5.0,121186,1.0,0,0,1,1,1,1.0,0,1,1,1,1,1.0
759,4.0,121190,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
760,5.0,121192,1.0,1,0,0,0,1,1.0,1,1,1,1,1,1.0
761,5.0,121193,1.0,1,0,0,1,1,1.0,1,1,1,1,1,1.0
762,1.0,121199,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
763,5.0,121203,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
764,4.0,121204,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
765,1.0,121209,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
766,1.0,121210,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
767,2.0,121211,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
768,2.0,121212,1.0,0,0,1,1,1,1.0,1,1,0,1,1,1.0
769,1.0,121213,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
770,2.0,121214,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0
771,1.0,121216,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
772,2.0,121217,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0
773,1.0,121218,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0
774,2.0,121231,1.0,1,1,1,1,1,1.0,0,0,0,0,0,NaN
775,5.0,121245,1.0,1,1,1,1,1,1.0,1,1,1,1,0,1.0
776,5.0,121257,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
777,4.0,121262,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
778,2.0,121272,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
779,5.0,121290,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
780,5.0,121291,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
781,5.0,121294,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
782,5.0,121295,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
783,5.0,121296,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
784,5.0,121356,1.0,1,1,1,1,1,1.0,1,1,1,0,1,1.0
785,5.0,121447,1.0,1,1,1,1,0,1.0,1,0,0,0,1,1.0
786,5.0,121448,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0
787,5.0,121453,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
788,4.0,121454,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
789,4.0,121455,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
790,4.0,121456,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
791,4.0,121457,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0
792,4.0,121461,1.0,1,0,1,0,1,1.0,1,1,1,0,1,1.0
793,5.0,121462,1.0,1,1,1,1,1,1.0,1,0,0,0,1,1.0

In [87]:
wave6_resp_wide_final = response_w6.merge(keys_w6[["ID", "Norstat ID"]], left_on="User ID", right_on="ID", how ="left")

In [88]:
wave6_resp_wide_final = wave6_resp_wide_final.drop(7)

In [89]:
wave6_resp_wide_final

,condition,User ID,Baseline,Day 1,Day 2,Day 3,Day 4,Day 5,Weekend 1,Day 6,Day 7,Day 8,Day 9,Day 10,Weekend 2,ID,Norstat ID
0,4.0,120931,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,120931,5YwxodNGOXv9Oylz
1,5.0,120937,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,120937,RWLV2Z1EmG5o5vN3
2,5.0,120962,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,120962,p3MN23yEj4EAl1ag
3,1.0,120964,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,120964,5Ywxodb3xdX9Oylz
4,1.0,120966,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,120966,Dg7LANONnZgozm8y
5,1.0,120967,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,120967,qRZK2gEQM1WAbdka
6,1.0,120970,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,120970,qRZK2gEDqlNAbdka
8,5.0,121186,1.0,0,0,1,1,1,1.0,0,1,1,1,1,1.0,121186,LDen9KLWer3AElVw
9,4.0,121190,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121190,NaBzAB8qx532YyVM
10,5.0,121192,1.0,1,0,0,0,1,1.0,1,1,1,1,1,1.0,121192,zExm2J5mJYro6PyK
11,5.0,121193,1.0,1,0,0,1,1,1.0,1,1,1,1,1,1.0,121193,qRZK2gE4pxWAbdka
12,1.0,121199,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121199,p3MN234R1DP9l1ag
13,5.0,121203,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121203,QGYe2jPgKkdAgrXp
14,4.0,121204,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121204,xgOVA1gzDMg2elJ1
15,1.0,121209,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121209,Elb8AvXdjJr2pLX5
16,1.0,121210,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121210,5nJ4ApEjL44oG3kx
17,2.0,121211,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121211,GLPp2OpXGXZ903ym
18,2.0,121212,1.0,0,0,1,1,1,1.0,1,1,0,1,1,1.0,121212,GQq8AV3lzqqolWZ3
19,1.0,121213,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121213,beaJAWrXNLn9vw16
20,2.0,121214,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0,121214,3YVN2MBNlkV9bRn5
21,1.0,121216,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121216,5Ywxodbjjav9Oylz
22,2.0,121217,1.0,1,1,1,1,1,1.0,1,1,0,1,1,1.0,121217,Vj6N98wd1My28drl
23,1.0,121218,1.0,0,1,1,1,1,1.0,1,1,0,1,1,1.0,121218,Vj6N98wP05N28drl
24,2.0,121231,1.0,1,1,1,1,1,1.0,0,0,0,0,0,NaN,121231,Yxq827dlgGa9MWZ0
25,5.0,121245,1.0,1,1,1,1,1,1.0,1,1,1,1,0,1.0,121245,Yxq827djM5b9MWZ0
26,5.0,121257,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121257,nKY7owXDr6a2G3v4
27,4.0,121262,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121262,XNdYoQwYvke9Wq1r
28,2.0,121272,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121272,jYWQA6pXWJE2PXKz
29,5.0,121290,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121290,j1Le2D6XXqlAxEOy
30,5.0,121291,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121291,Vw142rvB6mb2aNPX
31,5.0,121294,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121294,lzD49L4RWVk93Vr8
32,5.0,121295,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121295,5YwxodbGEEe9Oylz
33,5.0,121296,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121296,yNedoaQL3axoMEjw
34,5.0,121356,1.0,1,1,1,1,1,1.0,1,1,1,0,1,1.0,121356,5nJ4ApErRG0oG3kx
35,5.0,121447,1.0,1,1,1,1,0,1.0,1,0,0,0,1,1.0,121447,3YVN2MBw3aE9bRn5
36,5.0,121448,1.0,0,1,1,1,1,1.0,1,1,1,1,1,1.0,121448,Yxq827vYZBBoMWZ0
37,5.0,121453,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121453,EZ8qox1YddQ26JVW
38,4.0,121454,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121454,GlMq9eXGMBV2DpXY
39,4.0,121455,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121455,NaBzABQ5O0r9YyVM
40,4.0,121456,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121456,W7mLA5Omw5O2N6n1
41,4.0,121457,1.0,1,1,1,1,1,1.0,1,1,1,1,1,1.0,121457,xgOVA1geOWO2elJ1
42,4.0,121461,1.0,1,0,1,0,1,1.0,1,1,1,0,1,1.0,121461,wLxz2lXdmMz2kVj8
43,5.0,121462,1.0,1,1,1,1,1,1.0,1,0,0,0,1,1.0,121462,YXrqo4Bx0xx9MZdm

In [62]:
#wave6_resp_wide_final.to_csv(DATA_DIR / 'wave6' / "Wave 6 - full responses.csv")

## Importing Mistral TST data

In [90]:
#Importing the mistral data
mistral_w61 = pd.read_csv(MESSAGES_DIR / 'wave6' / 'day1_0_mistral-large-2407_0.7_all_shots_parsed.csv')
mistral_w62 = pd.read_csv(MESSAGES_DIR / 'wave6' / 'day2_0_mistral-large-2407_0.7_all_shots_parsed.csv')
mistral_w63 = pd.read_csv(MESSAGES_DIR / 'wave6' / 'day3_0_mistral-large-2407_0.7_all_shots_parsed.csv')
mistral_w64 = pd.read_csv(MESSAGES_DIR / 'wave6' / 'day4_0_mistral-large-2407_0.7_all_shots_parsed.csv')

print(len(mistral_w61))
print(len(mistral_w62))
print(len(mistral_w63))
print(len(mistral_w64))

48
60
324
156

In [91]:
mistral_w6 = pd.concat([mistral_w61, mistral_w62, mistral_w63, mistral_w64], ignore_index=True)

In [93]:
mistral_w6.head(3)

,prompt_id,model,temperature,shots,user_id,message_id,neutral_message,tst_message,tst_explanation,tst_id,llm_tst
0,0,mistral-large-2407,0.7,all,12345,0,"Hello! I’m Sasha, nice to meet you! Over the n...","hey! im sasha, nice to meet you:) over the nex...",I've adapted the text to match person X's conv...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! im sasha, nic..."
1,0,mistral-large-2407,0.7,all,12345,1,Hey! Thanks for following along for the first ...,hey! thanks for following along for the first ...,I've incorporated the informal tone and style ...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! thanks for fo..."
2,0,mistral-large-2407,0.7,all,12345,2,Reducing how much meat we eat can help save a ...,"so like, reducing how much meat we eat can hel...","I incorporated the informal tone, use of emoti...",1.234520e+18,"{\n ""rewritten_sentence"": ""so like, reducing ..."

In [94]:
mistral_w6["user_id"] = mistral_w6["user_id"].astype(int)

In [95]:
len(mistral_w6)

588

In [96]:
keys_w6[~keys_w6["Movez ID"].astype(float).isin(mistral_w6["user_id"].astype(float))]

,Unnamed: 0,ID,Norstat ID,Movez ID,Email Address,condition
13,13,121294,lzD49L4RWVk93Vr8,52231,celineabimbola98@gmail.com,5.0
21,21,121218,Vj6N98wP05N28drl,44496,bmumbua91@gmail.com,1.0
22,22,121217,Vj6N98wd1My28drl,84459,sndrsrhonda@gmail.com,2.0
23,23,121216,5Ywxodbjjav9Oylz,99276,katengemuema@gmail.com,1.0
24,24,121214,3YVN2MBNlkV9bRn5,52565,uyrres559@gmail.com,2.0
25,25,121213,beaJAWrXNLn9vw16,91663,guzmanpaulde67@gmail.com,1.0
26,26,121212,GQq8AV3lzqqolWZ3,61763,piogama07@gmail.com,2.0
27,27,121211,GLPp2OpXGXZ903ym,94448,tawaipeter@gmail.com,2.0
28,28,121210,5nJ4ApEjL44oG3kx,58849,tokoropiea@gmail.com,1.0
29,29,121209,Elb8AvXdjJr2pLX5,24583,rededasa17@gmail.com,1.0
32,32,121199,p3MN234R1DP9l1ag,13781,nunciatta02@gmail.com,1.0
37,37,121153,NaN,66666,test@testerrr.com,2.0

In [97]:
twelve_messages = mistral_w6[0:12]

In [98]:
twelve_messages

,prompt_id,model,temperature,shots,user_id,message_id,neutral_message,tst_message,tst_explanation,tst_id,llm_tst
0,0,mistral-large-2407,0.7,all,12345,0,"Hello! I’m Sasha, nice to meet you! Over the n...","hey! im sasha, nice to meet you:) over the nex...",I've adapted the text to match person X's conv...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! im sasha, nic..."
1,0,mistral-large-2407,0.7,all,12345,1,Hey! Thanks for following along for the first ...,hey! thanks for following along for the first ...,I've incorporated the informal tone and style ...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! thanks for fo..."
2,0,mistral-large-2407,0.7,all,12345,2,Reducing how much meat we eat can help save a ...,"so like, reducing how much meat we eat can hel...","I incorporated the informal tone, use of emoti...",1.234520e+18,"{\n ""rewritten_sentence"": ""so like, reducing ..."
3,0,mistral-large-2407,0.7,all,12345,3,"If everyone ate less animal foods, the CO2 fro...","if everyone ate less animal foods, the CO2 fro...",The conversational style of person X uses info...,1.234520e+18,"{\n ""rewritten_sentence"": ""if everyone ate le..."
4,0,mistral-large-2407,0.7,all,12345,4,Animal farming is responsible for 80% of the l...,so like animal farming is responsible for 80% ...,"Person X uses informal language, such as contr...",1.234520e+18,"{\n ""rewritten_sentence"": ""so like animal far..."
5,0,mistral-large-2407,0.7,all,12345,5,80% of young people believe that living sustai...,80% of young ppl think living sustainable is r...,Person X uses informal language and abbreviati...,1.234520e+18,"{\n ""rewritten_sentence"": ""80% of young ppl t..."
6,0,mistral-large-2407,0.7,all,12345,6,"Reducing how much meat, dairy, and sugary food...","so like, reducing meat, dairy, and sugary food...",Person X uses informal language with contracti...,1.234520e+18,"{\n ""rewritten_sentence"": ""so like, reducing ..."
7,0,mistral-large-2407,0.7,all,12345,7,Fruits and vegetables are filled with importan...,fruits and veggies are packed with important s...,I've adapted the text to person X's conversati...,1.234520e+18,"{\n ""rewritten_sentence"": ""fruits and veggies..."
8,0,mistral-large-2407,0.7,all,12345,8,Fiber is really important for keeping our stom...,"fiber is rly important for our stomachs, its o...",Adapted to person X's style by using abbreviat...,1.234520e+18,"{\n ""rewritten_sentence"": ""fiber is rly impor..."
9,0,mistral-large-2407,0.7,all,12345,9,Vegetables and fruits have helpful plant subst...,veggies and fruits have some good stuff for ou...,"I've incorporated the informal tone, use of nu...",1.234520e+18,"{\n ""rewritten_sentence"": ""veggies and fruits..."
10,0,mistral-large-2407,0.7,all,12345,10,More than 70% of farm animals in the UK are ra...,more than 70% of farm animals in the UK are ra...,"I've incorporated the informal tone, use of co...",1.234520e+18,"{\n ""rewritten_sentence"": ""more than 70% of f..."
11,0,mistral-large-2407,0.7,all,12345,11,Most pigs and chickens in the UK are kept indo...,most pigs and chickens in the UK are kept indo...,I used lowercase letters to match person X's s...,1.234520e+18,"{\n ""rewritten_sentence"": ""most pigs and chic..."

In [99]:
#mistral_w6.to_csv("mistral_w6.csv")

In [100]:
unmatched_ids = keys_w6[~keys_w6["Movez ID"].astype(float).isin(mistral_w6["user_id"].astype(float))]

In [101]:
late_comers

,Avicenna ID,Norstat ID,Random ID,Mail_child_exp,Last Name,Email Address,condition
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com,5
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com,5
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com,5
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com,5
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com,5
5,121454,GlMq9eXGMBV2DpXY,14385,NaN,14385,kibet9277@gmail.com,4
6,121453,EZ8qox1YddQ26JVW,11624,NaN,11624,wafulasammamai@gmail.com,5
7,121448,Yxq827vYZBBoMWZ0,61255,NaN,61255,tharparturo@gmail.com,4
8,121447,3YVN2MBw3aE9bRn5,65741,NaN,65741,ryannfasola@gmail.com,4

In [103]:
unmatched_ids_LC = late_comers[~late_comers["Random ID"].astype(float).isin(mistral_w6["user_id"].astype(float))]

In [104]:
late_comers['Movez ID'] = late_comers['Random ID']

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\2004907841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  late_comers['Movez ID'] = late_comers['Random ID']

In [105]:
unmatched_ids["Movez ID"] = unmatched_ids["Movez ID"].astype(float)

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\2839133375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_ids["Movez ID"] = unmatched_ids["Movez ID"].astype(float)

In [106]:
unmatched_ids = unmatched_ids.sort_values(by="Movez ID", ascending=True)

In [107]:
unmatched_ids

,Unnamed: 0,ID,Norstat ID,Movez ID,Email Address,condition
32,32,121199,p3MN234R1DP9l1ag,13781.0,nunciatta02@gmail.com,1.0
29,29,121209,Elb8AvXdjJr2pLX5,24583.0,rededasa17@gmail.com,1.0
21,21,121218,Vj6N98wP05N28drl,44496.0,bmumbua91@gmail.com,1.0
13,13,121294,lzD49L4RWVk93Vr8,52231.0,celineabimbola98@gmail.com,5.0
24,24,121214,3YVN2MBNlkV9bRn5,52565.0,uyrres559@gmail.com,2.0
28,28,121210,5nJ4ApEjL44oG3kx,58849.0,tokoropiea@gmail.com,1.0
26,26,121212,GQq8AV3lzqqolWZ3,61763.0,piogama07@gmail.com,2.0
37,37,121153,NaN,66666.0,test@testerrr.com,2.0
22,22,121217,Vj6N98wd1My28drl,84459.0,sndrsrhonda@gmail.com,2.0
25,25,121213,beaJAWrXNLn9vw16,91663.0,guzmanpaulde67@gmail.com,1.0
27,27,121211,GLPp2OpXGXZ903ym,94448.0,tawaipeter@gmail.com,2.0
23,23,121216,5Ywxodbjjav9Oylz,99276.0,katengemuema@gmail.com,1.0

In [105]:
#unmatched_ids.to_csv("unmatched_ids_w6.csv")

In [108]:
unmatched_ids2 = unmatched_ids[(unmatched_ids["condition"] != 1.0) & (unmatched_ids["condition"] != 2.0)]

In [109]:
# Randomly assign 1 or 2 to each row
unmatched_ids2["condition"] = np.random.choice([1, 2], size=len(unmatched_ids2), replace=True)

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\1989625034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_ids2["condition"] = np.random.choice([1, 2], size=len(unmatched_ids2), replace=True)

In [111]:
# First, create a mapping from email to condition from unmatched_ids_2
email_to_condition = dict(zip(unmatched_ids2["Email Address"], unmatched_ids2["condition"]))

# Now update the keys_w6["condition"] column based on matching emails
keys_w6["condition"] = keys_w6["Email Address"].map(lambda email: email_to_condition.get(email, keys_w6.loc[keys_w6["Email Address"] == email, "condition"].values[0]))

In [542]:
#keys_w6.to_csv(KEYS_DIR / "keys_w6.csv")

In [543]:
#keys_w6_short = keys_w6[["Avicenna ID", "condition"]]

In [545]:
#keys_w6_short.to_csv(KEYS_DIR / "Wave 6 - keys short.csv")

In [114]:
# Create a list to store all the duplicated messages
duplicated_messages = []

# Loop through unmatched_ids2 and duplicate twelve_messages for each row
for session_id in unmatched_ids2["Movez ID"]:
    # Make a copy of twelve_messages and set session_id
    temp = twelve_messages.copy()
    temp["user_id"] = session_id
    duplicated_messages.append(temp)

# Concatenate all the duplicated blocks into a single DataFrame
twelve_messages = pd.concat(duplicated_messages, ignore_index=True)

In [115]:
mistral_w6 = pd.concat([mistral_w6, twelve_messages], ignore_index=True)

In [58]:
#unmatched_ids.to_csv(DATA_DIR / 'processed' / "unmatched-ids.csv")

In [117]:
# Convert unmatched_ids["Movez ID"] to float
unmatched_ids_float = unmatched_ids["Movez ID"].astype(float)

In [119]:
mistral_w6 = mistral_w6.drop_duplicates(subset=["user_id", "message_id"], keep="last")

In [120]:
mistral_w6[["user_id", "message_id"]].duplicated().sum()

0

In [121]:
# Adjusting some columns
mistral_w6 = mistral_w6.rename(columns={"user_id": "Movez ID"})
mistral_w6["Movez ID"].value_counts().unique()

In [123]:
mistral_w6.head()

,prompt_id,model,temperature,shots,Movez ID,message_id,neutral_message,tst_message,tst_explanation,tst_id,llm_tst
0,0,mistral-large-2407,0.7,all,12345.0,0,"Hello! I’m Sasha, nice to meet you! Over the n...","hey! im sasha, nice to meet you:) over the nex...",I've adapted the text to match person X's conv...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! im sasha, nic..."
1,0,mistral-large-2407,0.7,all,12345.0,1,Hey! Thanks for following along for the first ...,hey! thanks for following along for the first ...,I've incorporated the informal tone and style ...,1.234520e+18,"{\n ""rewritten_sentence"": ""hey! thanks for fo..."
2,0,mistral-large-2407,0.7,all,12345.0,2,Reducing how much meat we eat can help save a ...,"so like, reducing how much meat we eat can hel...","I incorporated the informal tone, use of emoti...",1.234520e+18,"{\n ""rewritten_sentence"": ""so like, reducing ..."
3,0,mistral-large-2407,0.7,all,12345.0,3,"If everyone ate less animal foods, the CO2 fro...","if everyone ate less animal foods, the CO2 fro...",The conversational style of person X uses info...,1.234520e+18,"{\n ""rewritten_sentence"": ""if everyone ate le..."
4,0,mistral-large-2407,0.7,all,12345.0,4,Animal farming is responsible for 80% of the l...,so like animal farming is responsible for 80% ...,"Person X uses informal language, such as contr...",1.234520e+18,"{\n ""rewritten_sentence"": ""so like animal far..."

In [124]:
late_comers

,Avicenna ID,Norstat ID,Random ID,Mail_child_exp,Last Name,Email Address,condition,Movez ID
0,121462,YXrqo4Bx0xx9MZdm,47469,NaN,47469,michaelcarmen262@gmail.com,5,47469
1,121461,wLxz2lXdmMz2kVj8,55595,NaN,55595,johnallan5911@gmail.com,5,55595
2,121457,xgOVA1geOWO2elJ1,10320,NaN,10320,calebdavid025@gmail.com,5,10320
3,121456,W7mLA5Omw5O2N6n1,18650,NaN,18650,wcheng679@gmail.com,5,18650
4,121455,NaBzABQ5O0r9YyVM,90865,NaN,90865,azimshakur2@gmail.com,5,90865
5,121454,GlMq9eXGMBV2DpXY,14385,NaN,14385,kibet9277@gmail.com,4,14385
6,121453,EZ8qox1YddQ26JVW,11624,NaN,11624,wafulasammamai@gmail.com,5,11624
7,121448,Yxq827vYZBBoMWZ0,61255,NaN,61255,tharparturo@gmail.com,4,61255
8,121447,3YVN2MBw3aE9bRn5,65741,NaN,65741,ryannfasola@gmail.com,4,65741

In [125]:
mistral_w6["Movez ID"] = mistral_w6["Movez ID"].astype(float)
late_comers["Movez ID"] = late_comers["Movez ID"].astype(float)

# Let's merge messages with the condition each person is in
mistral_w6 = late_comers.merge(mistral_w6, on= "Movez ID", how="left")

mistral_w6.head()

print(len(mistral_w6))

108

C:\Users\77197jsc\AppData\Local\Temp\ipykernel_27892\3140923308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  late_comers["Movez ID"] = late_comers["Movez ID"].astype(float)

In [134]:
mistral_w6["Movez ID"] = mistral_w6["Movez ID"].astype(float)
keys_w6["Movez ID"] = keys_w6["Movez ID"].astype(float)

# Let's merge messages with the condition each person is in
mistral_w6 = keys_w6.merge(mistral_w6, on= "Movez ID", how="left")

mistral_w6.head()

print(len(mistral_w6))

144

In [128]:
#mistral_w6.to_csv("mistral_w6.csv")

In [135]:
mistral_w6.columns

Index(['Unnamed: 0_x', 'ID_x', 'Norstat ID', 'Movez ID', 'Email Address',
       'condition', 'Unnamed: 0_y', 'ID_y', 'Norstat ID_x', 'Email Address_x',
       'condition_x', 'Avicenna ID', 'Norstat ID_y', 'Random ID',
       'Mail_child_exp', 'Last Name', 'Email Address_y', 'condition_y',
       'prompt_id', 'model', 'temperature', 'shots', 'message_id',
       'neutral_message', 'tst_message', 'tst_explanation', 'tst_id',
       'llm_tst'],
      dtype='object')

In [136]:
# Bringing message IDs into chronological order how they are shown in Avicenna
mistral_w6["message_id"] = mistral_w6["message_id"].replace([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 7, 3, 9, 12, 6, 8, 2, 5, 11, 4, 10])

mistral_w6["message_id"] = pd.to_numeric(mistral_w6['message_id'])

# We will need to replace TST messages with neutral messages for 3 conditions 2, 4 & 5:
# First, we replace messages 1-6 in "tst-messages" with values from "neutral message" where "condition" is 5 (tailored - non-tailored)
mistral_w6.loc[(mistral_w6['condition_x'] == 5) & (mistral_w6['message_id'].between(1, 6)), 'tst_message'] = mistral_w6['neutral_message']

# Second, we replace messages 7-12 in "tst-messages" with values from "neutral message" where "condition" is 4 (non-tailored_tailored)
mistral_w6.loc[(mistral_w6['condition_x'] == 4) & (mistral_w6['message_id'].between(7, 12)), 'tst_message'] = mistral_w6['neutral_message']

# Third, we replace all messages in "tst-messages" with values from "neutral message" where "condition" is 2 (non-tailored)
mistral_w6.loc[(mistral_w6['condition_x'] == 2), 'tst_message'] = mistral_w6['neutral_message']

In [756]:
mistral_w6["message_id"] = mistral_w6["message_id"].astype(int)
mistral_w6 = mistral_w6.dropna(subset=["message_id"])

In [137]:
mistral_wide = mistral_w6.pivot_table(
    index='Movez ID',
    columns='message_id',
    values='tst_message',
    aggfunc='last'  # or 'first', 'max', etc.
)

#Changing the column names of message ID & rename index
mistral_wide = mistral_wide.add_prefix('Q')
mistral_wide = mistral_wide.rename(columns={"message_id": "Participant ID"}, index={'message_id': 'Participant ID'})

#Sort columns according to their new value
q_columns = [col for col in mistral_wide.columns if col.startswith('Q')]
sorted_columns = sorted(q_columns, key=lambda x: int(x[1:]))

ValueError: invalid literal for int() with base 10: '2.0'

In [140]:
mistral_wide.head()

message_id,Q2.0,Q3.0,Q4.0,Q5.0,Q6.0,Q8.0,Q9.0,Q10.0,Q11.0,Q12.0
Movez ID,,,,,,,,,,
10320.0,"hey! its sasha, nice to meet you! over the nex...",hey! thanks for following along for the first ...,veggies and fruits got helpful stuff that supp...,80% of young ppl believe livin sustainably is ...,"so like reducing meat, dairy, sugary foods hel...",Fiber is really important for keeping our stom...,Fruits and vegetables are filled with importan...,"If everyone ate less animal foods, the CO2 fro...",Reducing how much meat we eat can help save a ...,Most pigs and chickens in the UK are kept indo...
11624.0,"Hello! I’m Sasha, nice to meet you! Over the n...",Hey! Thanks for following along for the first ...,Vegetables and fruits have helpful plant subst...,80% of young people believe that living sustai...,"Reducing how much meat, dairy, and sugary food...","fiber is important for our stomachs, only in p...",fruits and vegetables are filled with importan...,"if everyone ate less animal foods, CO2 from fo...","eating less meat can save loads of CO2, which ...",most pigs and chickens in the uk are kept indo...
14385.0,"hey! its Sasha, nice to meet you! over the nex...",hey! thanks for following along for the first ...,veggies and fruits have stuff that helps our b...,80% of young people believe that living sustai...,"so like, eating less meat, dairy, and sugary s...",Fiber is really important for keeping our stom...,Fruits and vegetables are filled with importan...,"If everyone ate less animal foods, the CO2 fro...",Reducing how much meat we eat can help save a ...,Most pigs and chickens in the UK are kept indo...
18650.0,"hey! its sasha, nice to meet you! over the nex...",hey! thanks for following along for the first ...,vegetables and fruits have helpful plant stuff...,80% of young people think living sustainably i...,"so, reducing meat, dairy, sugary foods can rea...",Fiber is really important for keeping our stom...,Fruits and vegetables are filled with importan...,"If everyone ate less animal foods, the CO2 fro...",Reducing how much meat we eat can help save a ...,Most pigs and chickens in the UK are kept indo...
47469.0,"Hello! I’m Sasha, nice to meet you! Over the n...",Hey! Thanks for following along for the first ...,Vegetables and fruits have helpful plant subst...,80% of young people believe that living sustai...,"Reducing how much meat, dairy, and sugary food...",Wow!...Fiber is really important for keeping o...,Wow!...Fruits and veggies are packed with supe...,"Wow!...if everyone ate less animal foods, the ...",Wow!...reducing how much meat we eat can reall...,Wow!...most pigs and chickens in the UK are ke...

In [141]:
# Last we need to replace the Movez ID key with the Avicenna ID key

# Create a dictionary mapping from 'Movez ID' to 'ID'
id_mapping = late_comers.set_index('Movez ID')['Avicenna ID'].to_dict()

# Replace the index of mistral_wide using the mapping
mistral_wide.index = mistral_wide.index.map(lambda idx: id_mapping.get(idx, idx))

In [142]:
# We rename the index to "ID"

mistral_wide.index.name = "ID"

In [143]:
mistral_index = list(mistral_wide.index)

In [144]:
# Let's check if all the message cells have a text within them

for index, row in mistral_wide.iterrows():
    # Check for empty values in the row
    for column in mistral_wide.columns:
        if pd.isna(row[column]):  # Check if the value is NaN (empty)
            print(f"Empty value found in column '{column}' at row {index}")

In [96]:
# Step 5: Append to mistral_wide
mistral_wide = pd.concat([mistral_wide, neutral_rows])

# Ensure the index is sorted (optional)
mistral_wide = mistral_wide.sort_index()

In [146]:
# Assuming the index is a string type
invalid_indexes = mistral_wide.index[(mistral_wide.index < 100000.0) | (mistral_wide.index >= 200000.0)]

print("Indexes that are not five digits or do not start with '1':")
invalid_indexes

Indexes that are not five digits or do not start with '1':

Index([], dtype='int64', name='ID')

In [767]:
#mistral_wide.to_csv(MESSAGES_DIR / "Wave 6 - late comers messages.csv")

In [648]:
#mistral_wide.to_csv(MESSAGES_DIR / "Wave 6 - messages.csv")